/.env
/.cache
/bin
*.swp
.idea
/tests/cypress/*/videos/*
/tests/cypress/*/screenshots/*
/tests/cypress/*/downloads/*
/tests/cypress/*/node_modules
*package-lock.json
/tests/cypress/*/fixtures/runtime_test_result.yaml
